<form action="/blog-board" method="post">
  Name:<br>
  <input type="text" name="name"><br>
  <br>
  My Post:<br>
  <textarea name="message" style="width:600px; height:300px;">Write your message here.</textarea>
  <br><br>
  <input type="submit" value="Post">
</form>
